# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.BAS,*.bas]
indent_style = space
indent_size = 8
trim_trailing_whitespace = true

[{*.ASM,*.INC,*.asm,*.inc,*.nasm,*.lst,*.map}]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[*.md]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[*.xml]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
